<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Todo App</title>
</head>

<body>
    <div>
        <h1 id="todo_list">To Do List</h1>

        <form action="/add" method="post">
            <div>
                <label>Todo task</label>
                <input type="text" name="task" placeholder="Enter a Task">
                <button type="submit">Add a Task</button>
            </div>
           
        </form>

        
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        {% for todo in todo_list %}
                <p>{{todo.id}} : {{todo.task}} : {{todo.date.strftime('%Y-%m-%d')}} </p>
        {% if todo.complete==False %}
        <p>Task Incomplete. <a href="/update/{{todo.id}}">Mark as complete?</a></p>
        {% else %}
        <p>Task Complete <input type="checkbox" id="toggle-checkbox" class="togglecheckbox">
            <label for="toggle-checkbox" class="toggle-label"></label>
        <a href="/update/{{todo.id}}">Mark as incomplete?</a></p>
        {% endif %} 
        <details>
            <summary>Click to Edit</summary>
        <form action="/edit/{{todo.id}}" method="post">
            <div>
                <label>Todo task</label>
                <input type="text" name="edit_task" placeholder="Enter a Task">
                <button type="submit">Add a Task</button>
            </div>
            
        </form>
        <p>Edit if needed</a></p>
     </details>
        <a href="/delete/{{todo.id}}">Delete this task?</a>
        {% endfor %}
        
    </div>
</body>

</html>

<!--line 15-22: form to add a new to do item-->
<!--line 25-29: Display the message i created if there is any-->
<!--line 28: crated a for loop to loop through the todo_list which will in turn display all the to do items-->
<!--line 30-36: created a condition display based on the todo.complete status by using a for loop. then created a checkbox to check once the task is complete and a task incomplete option if a user accidently clicked task complete.-->
<!--line 37-49: i created a edit function so that if the user mistyped a word they could click edit an it will alow them to edit the existing item-->
<!--line 51: crfeated a link so that the user was able to delete the item -->
