body{
    background-image:url(/static/cakebg.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: left;
    color:rgb(25, 0, 255);
    
    
}

p{
    color: rgba(23, 241, 63, 0.903);
    font-style: oblique;
    font-weight: bolder;
}





button{
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}
  
 
  
  


label{
  background-color: black;
  color: rgb(6, 249, 249);}


h1{

        color: rgb(6, 249, 249);}

      #todo_list{	
        animation-name:blink;
        width:280px;
        animation-duration:1s;
        animation-timing-function:linear;
        animation-iteration-count:Infinite;
        }
      
      @keyframes blink{
        0%{color:aqua;}
        50%{color:rgb(7, 0, 0);}
        100%{color:aqua;}
}

